.dialog-button {
  padding: 0 25px 20px;
  button {
    flex: 1;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  display: flex;
  gap: 10px;
}

.date-picker {
  width: 210px;
}
